@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: linear-gradient(90deg, #359eff -6.16%, #2d21bb 111.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

h2,
p,
a,
input,
li {
  font-family: "Poppins", sans-serif;
}

.gradient-purple {
  background: linear-gradient(91.73deg, #b9b3ff -4.35%, #6f66d7 108.69%);
}

.gradient-red {
  background: linear-gradient(91.73deg, #f5b3b3 -4.35%, #dd3d5a 108.69%);
}

.gradient-green {
  background: linear-gradient(91.73deg, #aee8dd -4.35%, #19b7ad 108.69%);
}

.gradient-blue {
  background: linear-gradient(91.73deg, #b3e5ff -4.35%, #3d9bdd 108.69%);
}

header {
  background: linear-gradient(
    119.46deg,
    #e5e5ff -0.27%,
    #dde2ff 49.71%,
    #c2deff 102.04%
  );
}

.fade {
  animation: fade 2s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
